replicaCount: 1

image:
  repository: nctiggy/wwt-custom-app
  pullPolicy: IfNotPresent
  tag: "2.0.0"

nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 80
  nodePort: 30080

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}
