replicaCount: 1

image:
  repository: nctiggy/heartflow-demo
  pullPolicy: IfNotPresent
  tag: "main"

nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 8080
  nodePort: 30080

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 50m
    memory: 32Mi

nodeSelector: {}

tolerations: []

affinity: {}
